.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.form-section  {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2rem;
  padding-bottom: 2rem;
  width: 90%;
}

.section-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
label {
  margin-bottom: 0.2rem;
}

input {
  margin-bottom: 1rem;
  color: black;
}

option {
  color: black;
}

button {
  margin-top: 1rem;
}

.form-section input[type="text"],
.form-section select {
  width: 85%;
  border: 0.2rem solid #fffffff4;
  border-radius: 0.3125rem;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

.form-section label {
  font-weight: bold;
}

.save {
  border-radius: 0.4rem;
  padding: 0.8rem 1.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
  background-color: rgb(4, 222, 4);
  transition: background-color 0.3s ease-in-out;
  width: 85%;
  color: black;
}
.return-button {
  margin-top: 1rem;
}
