#navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.text-sm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.text-sm a {
  margin-right: 1rem;
  color: #e2e8f0;
  transition: color 0.3s;
}

.text-sm a:hover {
  color: #fff;
}
