body {
  margin: 0;
  padding: 0;
  background-color: #111;
  color: #fff;
  min-height: 100vh;
}

#app {
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.inputs-box {
  border-radius: 1rem;
  background-color: rgba(75, 168, 205);
  padding: 1rem;
  width: 90%;
  margin: 0 auto;
}

#login-form, #register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login-register-button {
  margin-top: 2rem;
}

#title {
  margin-bottom: 4rem;
  font-weight: bold;
  font-size: 4rem;
  color: rgb(33, 150, 243);
}

.return-button {
  border: 0.2rem solid orangered;
  border-radius: 0.4rem;
  padding: 0.8rem 1.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
  margin-bottom: 5rem;
}

.return-button:hover {
  background-color: red;
  color: black;
}

@media (max-width: 767px) {
  #tilte {
    margin-bottom: 3rem;
    font-weight: bold;
    font-size: 2.5rem;
  }
  .inputs-box {
    width: 90%;
    margin: 0 auto;
  }
}